<h1>Mostrar Medición</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Medido por:</strong>
  <%= @emptemperature.done_by %>
</p>

<p>
  <strong>Día y Hora:</strong>
  <%= @emptemperature.day_and_time %>
</p>

<p>
  <strong>Nombre Completo:</strong>
  <%= @emptemperature.full_name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @emptemperature.phone %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @emptemperature.address %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @emptemperature.temperature %>
</p>

<p>
  <strong>Síntomas:</strong>
  <%=select_tag :symptoms, options_for_select(sintomas, selected: @current_symptoms), multiple: 'multiple', class:"col-sm-12 select2bs4", disabled: true%>
</p>

<%= link_to 'Mediciones', emptemperatures_path %>

