<div class="card-body">
  <%= form_with(model: temperature, local: true) do |form| %>
    <% if temperature.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(temperature.errors.count, "error") %> prohibited this temperature from being saved:</h2>

        <ul>
        <% temperature.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <form class="form-horizontal">
      <div class="form-group row">
        <%= form.label " Medido por: ", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.text_field :checked_by, class:"form-control"%>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Nombre Completo: ", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.text_field :full_name, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Dirección: ", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.text_field :address, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Teléfono: ", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.text_field :phone, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Temperatura: ", class:"col-sm-3 col-form-label"  %>
        <div class="col-sm-8">
          <%= form.text_field :temperature, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Estado: ", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.text_field :status, class:"form-control" %>
        </div>
      </div>

       <div class="form-group row">
        <%= form.label "Dia de Medición:", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= form.datetime_select :checked_at, class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-8">
          <%= form.submit 'Proceder', class:"btn btn-primary"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-8">
          <%= link_to 'Atrás', :back , class:"btn btn-primary fa fa-arrow-left"%>
        </div>
      </div>
    </form>
  <% end %>
</div>