<div class="col-md-9" style="margin-left: 120px;">
  <!-- Content Header (Page header) -->
  <p id="notice"><%= notice %></p>
  <h1><%= 'Mediciones Usuarios'%></h1>
   <div class="table-button" style="margin-bottom: 20px;margin-top: 20px; ">
    <a href="<%=emptemperatures_path%>" class=" btn btn-primary"><i class="fa fa-arrow-left"></i> Mediciones empleados</a>
  </div>
  <div class="table-button" style="margin-bottom: 20px;margin-top: 20px; ">
    <%= link_to 'Nueva medición', new_temperature_path, class:'btn btn-primary '%> |
    <button id="btn-rel-temperature" class=" btn btn-primary"><%='Recargar Tabla'%></button> | 
    <%= link_to 'Exportar Excel',export_temperatures_path('1') , class:'btn btn-primary '%>
  </div>
 
  <table id="temperatures-datatable" data-source="<%= temperatures_path(format: :json) %>">
    <thead>
      <tr>
        <th ><strong> Medido por </strong></th>
        <th ><strong> Nombre completo</strong></th>
        <th ><strong> Dirección</strong></th>
        <th ><strong> teléfono</strong></th>
        <th ><strong> Temperatura</strong></th>
        <th ><strong> Estado</strong></th>
        <th ><strong> Día de Medición</strong></th>
        <th ><strong> Opciones</strong></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


