<p id="notice"><%= notice %></p>

<p>
  <strong>Medido por:</strong>
  <%= @temperature.checked_by %>
</p>

<p>
  <strong>Nombre Completo:</strong>
  <%= @temperature.full_name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @temperature.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @temperature.phone %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @temperature.temperature %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @temperature.status %>
</p>

<p>
  <strong>Día de Medición:</strong>
  <%= @temperature.checked_at %>
</p>

<%= link_to 'Mediciones', temperatures_path %>
