<div class="col-md-9" style="margin-left: 120px;">
  <!-- Content Header (Page header) -->
  
  <h1><%= 'Bienvenido/a al sistema de mediciones'%></h1>
  <h3><%= 'Para tomar mediciones a suscriptores pulse "para suscriptores"'%></h3>
  <h3><%= 'Para tomar mediciones a empleados pulse "para empleados"'%></h3>
  <div class="table-button" style="margin-bottom: 20px;margin-top: 20px; ">
    <%= link_to 'Para suscriptores', temperatures_path, class:'btn btn-primary '%> |
    <%= link_to 'Para empleados' , emptemperatures_path , class:'btn btn-primary '%>
  </div>
 
 
</div>

